#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#nav{
    height:100%;
    top:0;
    left:0;
    position: fixed;
    background-color: orangered;
}
#nav>a{
    display: block;
    padding:2px;
    text-decoration: none;
    color:whitesmoke;
    font-size: 40px;
    margin:20px
}
#nav>a:hover{
    border-bottom:1px solid white;
}
#body{
    width:70%;
    top:0;
    right:0;
    background-color: white;
}
.header{
    background-image: url("https://media.wired.com/photos/5cc244c9af643e2f373ebb28/16:9/w_2400,c_limit/Coding-Becomes-Criminal.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    height:650px;
    width:100%;
    margin:0 auto;
    padding: 0;
    position: relative;
}
.intro{
    text-align: left;
    padding:10px;
    margin-bottom: 15px;
    margin-top: 0;

}
#About-me{
    text-align: center;
    line-height: 1.6em;
}
.back , .int{
    text-align: left;
}
h3 , h4{
    text-decoration: underline;
}
h2{
    
    text-decoration: underline;
    text-align: center;
}
.intro>h4{
    text-decoration: none;
}
#Skills , #Projects{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.first , .second{
    width:50%;
}
.first>a:hover , .second>a:hover{
    opacity:0.7;
}
footer{
    text-align:center;
    background-color:antiquewhite;
    width: 85%;
}
body{
    background-color: orangered;
}
span{
    text-decoration: underline;
}